@import "../../styles//variables";
@import "../../styles/mixins";

.blog {
  display: flex;
  flex-direction: column;
  background-color: $grey;
  padding: 1rem;

  &__heading {
    text-transform: uppercase;
    font-family: $secondary_font;
  }

  &__text {
    color: $silver;
  }
}
