@import "../../styles//variables";
@import "../../styles/mixins";

.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  margin: 0 auto;

  h1 {
    text-transform: uppercase;
    font-family: $secondary_font;
  }

  &__container {
    background-image: url("./gym-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
    width: 100%;
    height: 100%;
  }
}
