// Font styles
$primary_font: "Lato", sans-serif;
$secondary_font: "Anta", sans-serif;

// Colors
$black: #0f0f0f;
$grey: #1c1c1c;
$dark: #242424;
$semi_dark: #686868;
$silver: #b6b6b6;
$white: #fff;
$lime: #d6fd51;
