@import "../../styles//variables";
@import "../../styles/mixins";

.about {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    position: relative;

    img {
      width: 100%;
      height: 20rem;
      border-radius: 0.5rem;
      object-fit: cover;
    }

    h1 {
      font-family: $secondary_font;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
  }

  &__description {
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-top: 2rem;
    color: $silver;

    p {
      margin-right: 1rem;
    }

    button {
      width: 10rem;
      position: absolute;
      top: -7rem;
      left: 1rem;
      padding: 0.8rem 0;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: $secondary_font;
      margin-right: 10rem;
      border-radius: 0.5rem;
      background-color: $lime;
      text-transform: uppercase;

      @include respond(md) {
        position: static;
        top: auto;
        left: auto;
        margin: 0 auto;
        width: 22rem;
      }

      @include respond(lg) {
        position: static;
        top: auto;
        left: auto;
        margin-right: 6rem;
        width: 22rem;
      }
    }
  }

  &__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;

    @include respond(md) {
      flex-direction: row;
    }

    &__images {
      display: flex;
      width: 100%;
      gap: 3rem;

      @include respond(md) {
        gap: 1rem;
      }

      &__container {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 5px solid $lime;
        }

        &:nth-child(1) {
          &::before {
            clip-path: polygon(
              100% 0,
              0 0,
              0 100%,
              50% 100%,
              50% 75%,
              100% 50%
            );
          }
          &::after {
            clip-path: polygon(100% 25%, 100% 0, 50% 0, 50% 50%, 100% 50%);
          }
        }

        &:nth-child(2) {
          &::before {
            clip-path: polygon(
              100% 0,
              0 0,
              0 100%,
              50% 100%,
              50% 75%,
              100% 50%
            );
          }
          &::after {
            clip-path: polygon(100% 25%, 100% 0, 50% 0, 50% 50%, 100% 50%);
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        padding: 0.7rem;
      }
    }

    &__text {
      display: flex;
      width: 100%;

      flex-direction: column;
      margin-top: 2rem;

      @include respond(md) {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: auto;
        align-items: center;
        height: 150px;
      }

      div p {
        color: $silver;
        margin-top: 0.5rem;
      }

      &__highlight {
        color: #f8a3a0;
      }
    }
  }
}
