@import "../../styles//variables";
@import "../../styles/mixins";

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid $dark;

  .footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem;

    @include respond(md) {
      flex-direction: row;
      min-height: 300px;
      align-items: center;
    }

    &__logo {
      flex: 1 1 100%;

      @include respond(md) {
        flex: 1 1 33%;
        padding-right: 3rem;
      }

      @include respond(lg) {
        padding-right: 5rem;
      }

      h2 {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 1rem;
        line-height: 1.3;
        color: $silver;
      }

      &__icons {
        span {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          justify-content: center;
          border: 1px solid $lime;
          padding: 0.5rem;
          border-radius: 50%;
          margin: 1rem 1rem 1.5rem 0rem;
          color: $silver;
        }
      }
    }

    &__links {
      display: flex;
      flex: 1 1 100%;
      flex-wrap: wrap;
      justify-content: space-between;

      @include respond(md) {
        flex: 1 1 66%;
      }

      &__section {
        flex: 1 1 calc(50% - 1rem);

        @include respond(md) {
          flex: 1 1 25%;
        }

        h4 {
          color: $lime;
          margin-bottom: 1rem;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }

        li {
          margin-bottom: 0.5rem;
          color: $silver;
        }
      }
    }
  }

  .copyright {
    display: flex;
    width: 100%;

    border-top: 1px solid $dark;

    &__container {
      display: flex;
      width: 100%;
      margin: 0 auto;
      padding: 1rem 0;
      color: $semi_dark;
      padding: 1rem;
    }
  }
}
